.product-list {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 24px;
  height: 100%;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtotal {
  padding-left: 20%;
  padding-top: 26px;
}
