.title {
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
    padding-left: 42px;
    padding-right: 42px;
}

.title {
  padding-left: 24px;
  font-size: x-large;
  font-weight: bold;
}

