.product-list {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 24px;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 26px;
}
